li{
    list-style: none;
    display: inline;
    position: relative;
    left:28%;
    padding: 20px;

}
.heading{
    background-color: rgba(24, 8, 8, 0.623);
    color: white;
    width: 100%;
    /* height:auto; */
    height:100px ;
    max-height: 100px;
}
 